[View in Colaboratory](https://colab.research.google.com/github/MONA7584908095/Assignment-1/blob/MONA7584908095/list.ipynb)

In [1]:
# Simple Lists
names = ["Jennifer", "Python", "Scarlett"]
nums  = [1, 2, 3, 4, 5]
chars = ['A', 'q', 'E', 'z', 'Y']

print (names)
print (nums)
print (chars)

['Jennifer', 'Python', 'Scarlett']
[1, 2, 3, 4, 5]
['A', 'q', 'E', 'z', 'Y']

In [2]:
# Can have multiple data types in one list
rand_list = ["Jennifer", "Python", "refinneJ", 'J', '9', 9, 12.90, "Who"]
print (rand_list)

['Jennifer', 'Python', 'refinneJ', 'J', '9', 9, 12.9, 'Who']

In [3]:
# Accessing elements in a list
# O-indexed
print (names[2])
print (rand_list[3])
print (names[0] + " " + rand_list[2].title())

Scarlett
J
Jennifer Refinnej

In [4]:
# Negetive indexes: Access elements from the end of the list without knowing the size of the list
print (rand_list[-1]) # Returns the last element of the list [1st from the end]
print (rand_list[-2]) # Returns the 2nd last element
# and so on..

Who
12.9

In [5]:
# Now here's a question.
print (rand_list[-1] + " is " + names[2] + "?")
print ("A) " + rand_list[0] + "'s sister\tB) " + names[0] + "'s Friend\nC) Not Related to " + rand_list[-8] + "\tD) Nice question but I don't know")

Who is Scarlett?
A) Jennifer's sister	B) Jennifer's Friend
C) Not Related to Jennifer	D) Nice question but I don't know

In [6]:
# Modifying elements in a list
str_list = ["Scarlett", "is", "a", "nice", 'girl', '!']

print (str_list)
str_list[0] = "Jennifer"
print (str_list)

['Scarlett', 'is', 'a', 'nice', 'girl', '!']
['Jennifer', 'is', 'a', 'nice', 'girl', '!']

In [7]:
# Adding elements to a list
# Use append() to add elements to the end of the list
str_list.append ('She is 21.')
print (str_list)

['Jennifer', 'is', 'a', 'nice', 'girl', '!', 'She is 21.']

In [8]:
# So, you can build lists like this
my_list = []
my_list.append ("myname")
my_list.append ("myage")
my_list.append ("myaddress")
my_list.append ("myphn")
my_list.append ("is")
my_list.append (1234567890)
print (my_list)

['myname', 'myage', 'myaddress', 'myphn', 'is', 1234567890]

In [9]:
# Insert elements at specific positions of the list
# insert(index, element)
my_list.insert (0, "Mr/Miss/Mrs")
print (my_list)

my_list.insert(4, "mybday")
print (my_list)

['Mr/Miss/Mrs', 'myname', 'myage', 'myaddress', 'myphn', 'is', 1234567890]
['Mr/Miss/Mrs', 'myname', 'myage', 'myaddress', 'mybday', 'myphn', 'is', 1234567890]

In [10]:
# Using '-1' to insert at the end doesn't work and inserts element at the 2nd last position.
my_list = ['A', 'B', 'C', 'D']
my_list.insert (-1, 'E')
print (my_list)

['A', 'B', 'C', 'E', 'D']

In [11]:
# Using '-2' inserts at 3rd last position
# In general, use '-n' to insert at 'n+1'th position from end.
my_list = ['A', 'B', 'C', 'D']
my_list.insert (-2, 'E')
print (my_list)

['A', 'B', 'E', 'C', 'D']

In [12]:
# Insert elements at the end
l1 = ['A', 'B', 'C', 'D']
l2 = ['A', 'B', 'C', 'D']

l1.append('E')
l2.insert(len(my_list), 'E')
print (l1)
print (l2)

['A', 'B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E']

In [13]:
# Length of the list
l1 = ['A', 'B', 'C', 'D', 'E']
print (len(l1))

5

In [14]:
# # Removing elements from list
# del can remove any element from list as long as you know its index
l1 = ['A', 'B', 'C', 'D', 'E']
print (l1)

del l1[0]
print (l1)

del l1[-1]
print (l1)

['A', 'B', 'C', 'D', 'E']
['B', 'C', 'D', 'E']
['B', 'C', 'D']

In [0]:
# pop() can remove the last element from list when used without any arguments
l1 = ['A', 'B', 'C', 'D', 'E']
# pop() returns the last element, so c would store the popped element
c = l1.pop()

print (l1)
print (c)

In [0]:
# pop(n) -> Removes the element at index 'n' and returns it
l1 = ['A', 'B', 'C', 'D', 'E']

# Removes the element at 0 position and returns it
c = l1.pop(0)
print (l1)
print (c)

# Works as expected with negetive indexes
c = l1.pop(-1)
print (l1)
print (c)

In [0]:
# Removing an item by value
# remove() only removes the first occurence of the value that is specified.
q1 = ["Seriously, ", "what", "happened", "to", "Jennifer", "and", "Jennifer", "?"]
print (q1)

q1.remove ("Jennifer")
print (q1)

n1 = "and"
q1.remove(n1)
print (q1)

In [0]:
# Sorting a list
# sort() -> sorts list in increasing or decreasing order, *permantantly*
# Sorts in alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort()
print (l1)

# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort()
print (l2)

In [0]:
# Reverse sorts alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort(reverse=True)
print (l1)

# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort(reverse=True)
print (l2)

In [0]:
# sorted() -> Sorts list in increasing or decreasing order, *temporarily*
# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2))
print (l2)

In [0]:
# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2, reverse=True))
print (l2)

In [0]:
# Reverse list
l1 = ['E', 'D', 'C', 'B', 'A']
l1.reverse()
print (l1)

In [0]:
# What happens if we directly assign one list to the other instead of using slices
l1 = ["Jennifer", "now", "wonders", "what", "happens", "if", "we", "directly", "assign."]
l2 = l1
l2.append("Both variables point to the same list")

print (l1)
print (l2)