[View in Colaboratory](https://colab.research.google.com/github/ASIF8240233397/Assignment-1/blob/master/WEEK1NOI6.ipynb)

In [1]:
# Simple Lists
names = ["Jennifer", "Python", "Scarlett"]
nums  = [1, 2, 3, 4, 5]
chars = ['A', 'q', 'E', 'z', 'Y']

print (names)
print (nums)
print (chars)

['Jennifer', 'Python', 'Scarlett']
[1, 2, 3, 4, 5]
['A', 'q', 'E', 'z', 'Y']

In [2]:
# Can have multiple data types in one list
rand_list = ["Jennifer", "Python", "refinneJ", 'J', '9', 9, 12.90, "Who"]
print (rand_list)

['Jennifer', 'Python', 'refinneJ', 'J', '9', 9, 12.9, 'Who']

In [3]:
# Accessing elements in a list
# O-indexed
print (names[2])
print (rand_list[3])
print (names[0] + " " + rand_list[2].title())

Scarlett
J
Jennifer Refinnej

In [4]:
# Negetive indexes: Access elements from the end of the list without knowing the size of the list
print (rand_list[-1]) # Returns the last element of the list [1st from the end]
print (rand_list[-2]) # Returns the 2nd last element
# and so on..

Who
12.9

In [5]:
# Negetive indexes: Access elements from the end of the list without knowing the size of the list
print (rand_list[-1]) # Returns the last element of the list [1st from the end]
print (rand_list[-2]) # Returns the 2nd last element
# and so on..

Who
12.9

In [6]:
# Now here's a question.
print (rand_list[-1] + " is " + names[2] + "?")
print ("A) " + rand_list[0] + "'s sister\tB) " + names[0] + "'s Friend\nC) Not Related to " + rand_list[-8] + "\tD) Nice question but I don't know")

Who is Scarlett?
A) Jennifer's sister	B) Jennifer's Friend
C) Not Related to Jennifer	D) Nice question but I don't know

In [7]:
# Modifying elements in a list
str_list = ["Scarlett", "is", "a", "nice", 'girl', '!']

print (str_list)
str_list[0] = "Jennifer"
print (str_list)

['Scarlett', 'is', 'a', 'nice', 'girl', '!']
['Jennifer', 'is', 'a', 'nice', 'girl', '!']

In [8]:
# Adding elements to a list
# Use append() to add elements to the end of the list
str_list.append ('She is 21.')
print (str_list)

['Jennifer', 'is', 'a', 'nice', 'girl', '!', 'She is 21.']

In [9]:
# So, you can build lists like this
my_list = []
my_list.append ("myname")
my_list.append ("myage")
my_list.append ("myaddress")
my_list.append ("myphn")
my_list.append ("is")
my_list.append (1234567890)
print (my_list)

['myname', 'myage', 'myaddress', 'myphn', 'is', 1234567890]

In [10]:
# Insert elements at specific positions of the list
# insert(index, element)
my_list.insert (0, "Mr/Miss/Mrs")
print (my_list)

my_list.insert(4, "mybday")
print (my_list)

['Mr/Miss/Mrs', 'myname', 'myage', 'myaddress', 'myphn', 'is', 1234567890]
['Mr/Miss/Mrs', 'myname', 'myage', 'myaddress', 'mybday', 'myphn', 'is', 1234567890]

In [11]:
# Using '-1' to insert at the end doesn't work and inserts element at the 2nd last position.
my_list = ['A', 'B', 'C', 'D']
my_list.insert (-1, 'E')
print (my_list)

['A', 'B', 'C', 'E', 'D']

In [12]:
# Using '-2' inserts at 3rd last position
# In general, use '-n' to insert at 'n+1'th position from end.
my_list = ['A', 'B', 'C', 'D']
my_list.insert (-2, 'E')
print (my_list)

['A', 'B', 'E', 'C', 'D']

In [13]:
# Insert elements at the end
l1 = ['A', 'B', 'C', 'D']
l2 = ['A', 'B', 'C', 'D']

l1.append('E')
l2.insert(len(my_list), 'E')
print (l1)
print (l2)

['A', 'B', 'C', 'D', 'E']
['A', 'B', 'C', 'D', 'E']

In [14]:
# Length of the list
l1 = ['A', 'B', 'C', 'D', 'E']
print (len(l1))

5

In [15]:
# # Removing elements from list
# del can remove any element from list as long as you know its index
l1 = ['A', 'B', 'C', 'D', 'E']
print (l1)

del l1[0]
print (l1)

del l1[-1]
print (l1)

['A', 'B', 'C', 'D', 'E']
['B', 'C', 'D', 'E']
['B', 'C', 'D']

In [16]:
# pop() can remove the last element from list when used without any arguments
l1 = ['A', 'B', 'C', 'D', 'E']
# pop() returns the last element, so c would store the popped element
c = l1.pop()

print (l1)
print (c)

['A', 'B', 'C', 'D']
E

In [17]:
# pop(n) -> Removes the element at index 'n' and returns it
l1 = ['A', 'B', 'C', 'D', 'E']

# Removes the element at 0 position and returns it
c = l1.pop(0)
print (l1)
print (c)

# Works as expected with negetive indexes
c = l1.pop(-1)
print (l1)
print (c)

['B', 'C', 'D', 'E']
A
['B', 'C', 'D']
E

In [18]:
# Removing an item by value
# remove() only removes the first occurence of the value that is specified.
q1 = ["Seriously, ", "what", "happened", "to", "Jennifer", "and", "Jennifer", "?"]
print (q1)

q1.remove ("Jennifer")
print (q1)

n1 = "and"
q1.remove(n1)
print (q1)

['Seriously, ', 'what', 'happened', 'to', 'Jennifer', 'and', 'Jennifer', '?']
['Seriously, ', 'what', 'happened', 'to', 'and', 'Jennifer', '?']
['Seriously, ', 'what', 'happened', 'to', 'Jennifer', '?']

In [19]:
# Sorting a list
# sort() -> sorts list in increasing or decreasing order, *permantantly*
# Sorts in alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort()
print (l1)

# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort()
print (l2)

['A', 'B', 'C', 'D', 'E']
[0, 1, 2, 4, 9.45, 12.01, 12.02, 16, 45.67, 90, 200]

In [20]:
# Reverse sorts alphabetical order
l1 = ['E', 'D', 'C', 'B', 'A']
l1.sort(reverse=True)
print (l1)

# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
l2.sort(reverse=True)
print (l2)

['E', 'D', 'C', 'B', 'A']
[200, 90, 45.67, 16, 12.02, 12.01, 9.45, 4, 2, 1, 0]

In [21]:
# sorted() -> Sorts list in increasing or decreasing order, *temporarily*
# Sorts in increasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2))
print (l2)

[2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
[0, 1, 2, 4, 9.45, 12.01, 12.02, 16, 45.67, 90, 200]
[2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

In [22]:
# Sorts in decreasing order
l2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
print (l2)
print (sorted(l2, reverse=True))
print (l2)

[2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
[200, 90, 45.67, 16, 12.02, 12.01, 9.45, 4, 2, 1, 0]
[2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

In [23]:
# Reverse list
l1 = ['E', 'D', 'C', 'B', 'A']
l1.reverse()
print (l1)

['A', 'B', 'C', 'D', 'E']

In [24]:
# Looping Through a list using for
l1 = ["Scarlett", "is", "now", "back", "from", "her first", "Python", "lesson."]

# Do notice the indentations
for each_word in l1:
    print (each_word)

Scarlett
is
now
back
from
her first
Python
lesson.

In [25]:
# Looping through a list using while
l1 = ["Scarlett", "is", "in", "love", "with", "Python"]
i = 0
while i is not len(l1):
    print (l1[i])
    i += 1

Scarlett
is
in
love
with
Python

In [26]:
# Numerical lists
# Note: range(n, m) will loop over numbers from n to m-1
l1 = ['A', 'B', 'C', 'D', 'E']
print ("Guess how much Scarlett scored in her first lesson out of 5:")
for val in range(1, 6):
    print (l1[val-1] + ") " + str(val))

Guess how much Scarlett scored in her first lesson out of 5:
A) 1
B) 2
C) 3
D) 4
E) 5

In [27]:
# Using range() to make a list of numbers
num_list = list(range(1, 6))
print (num_list)

[1, 2, 3, 4, 5]

In [28]:
# Use range() to skip values at intervals
# range (num_to_start_from, num_to_end_at+1, interval)
l1 = list(range(10, 51, 5))
print (l1)

[10, 15, 20, 25, 30, 35, 40, 45, 50]

In [29]:
# Operations with list of numbers with -> min() max() sum()
l1 = [2, 3, 4, 45, 1, 5, 6, 3, 1, 23, 14]

print ("Sum: " + str(sum(l1)))
print ("Max: " + str(max(l1)))
print ("Min: " + str(min(l1)))

Sum: 107
Max: 45
Min: 1

In [30]:
# List Comprehensions
# Simple
l1 = [i for i in range(20, 30, 1)]
l2 = [i+1 for i in range(20, 30, 1)]
l3 = [[i, i**2] for i in range(2, 12, 3)]
print (l1)
print (l2)
print (l3)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[[2, 4], [5, 25], [8, 64], [11, 121]]

In [31]:
# A few more list comprehension examples
equi_list_1 = [[x, y, z] for x in range(1, 3) for y in range(3, 6) for z in range(6, 9)]
print (equi_list_1)

[[1, 3, 6], [1, 3, 7], [1, 3, 8], [1, 4, 6], [1, 4, 7], [1, 4, 8], [1, 5, 6], [1, 5, 7], [1, 5, 8], [2, 3, 6], [2, 3, 7], [2, 3, 8], [2, 4, 6], [2, 4, 7], [2, 4, 8], [2, 5, 6], [2, 5, 7], [2, 5, 8]]

In [32]:
# The above list comprehension is equivalent of the following code
equi_list_2 = []
for x in range(1, 3):
    for y in range(3, 6):
        for z in range(6, 9):
            equi_list_2.append([x, y, z])
print (equi_list_2)

[[1, 3, 6], [1, 3, 7], [1, 3, 8], [1, 4, 6], [1, 4, 7], [1, 4, 8], [1, 5, 6], [1, 5, 7], [1, 5, 8], [2, 3, 6], [2, 3, 7], [2, 3, 8], [2, 4, 6], [2, 4, 7], [2, 4, 8], [2, 5, 6], [2, 5, 7], [2, 5, 8]]

In [33]:
# Proof of equivalence  (Do execute the above two blocks of code before running this)
print (equi_list_1 == equi_list_2)

True

In [34]:
# List Comprehension with conditionals
l1 = [x if x%5==0 else "blank" for x in range(20)]
print (l1)

[0, 'blank', 'blank', 'blank', 'blank', 5, 'blank', 'blank', 'blank', 'blank', 10, 'blank', 'blank', 'blank', 'blank', 15, 'blank', 'blank', 'blank', 'blank']

In [35]:
# One more list comprehension with conditionals
l1 = ["Jennifer", "met", "Scarlett", "in", "Python", "lessons", "they", "take."]
l2 = [[str(x) + ") " + y] for x in range(len(l1)) for y in l1 if l1[x] == y]
print (l2)

[['0) Jennifer'], ['1) met'], ['2) Scarlett'], ['3) in'], ['4) Python'], ['5) lessons'], ['6) they'], ['7) take.']]

In [36]:
# Slicing a list
l1 = ["Jennifer", "is", "now", "friends", "with", "Scarlett"]

# [start_index : end_index+1]
print("[2:5] --> " + str(l1[2:5]))
print("[:4]  --> " + str(l1[:4]))  # everthing before 4th index [excluding the 4th]
print("[2:]  --> " + str(l1[2:]))  # everything from 2nd index [including the 2nd]
print("[:]   --> " + str(l1[:]))   # every element in the list

[2:5] --> ['now', 'friends', 'with']
[:4]  --> ['Jennifer', 'is', 'now', 'friends']
[2:]  --> ['now', 'friends', 'with', 'Scarlett']
[:]   --> ['Jennifer', 'is', 'now', 'friends', 'with', 'Scarlett']

In [37]:
# Some more slicing
l1 = ["Jennifer", "and", "Scarlett", "now", "Pythonistas", "!"]

print ("[-2:]   --> " + str(l1[-2:]))
print ("[:-3]   --> " + str(l1[:-3]))
print ("[-5:-2] --> " + str(l1[-5:-2]))
print ("[-4:-6] --> " + str(l1[-4:-6]))

[-2:]   --> ['Pythonistas', '!']
[:-3]   --> ['Jennifer', 'and', 'Scarlett']
[-5:-2] --> ['and', 'Scarlett', 'now']
[-4:-6] --> []

In [38]:
# Looping through a slice
l1 = ["Pythonistas", "rock", "!!!", "XD"]
for w in l1[-4:-1]:
    print (w.upper())

PYTHONISTAS
ROCK
!!!

In [39]:
# Copying a list
l1 = ["We", "should", "use", "[:]", "to", "copy", "the", "whole", "list"]
l2 = l1[:]
print(l2)

['We', 'should', 'use', '[:]', 'to', 'copy', 'the', 'whole', 'list']

In [40]:
# Proof that the above two lists are different
l2.append(". Using [:] ensures the two lists are different")

print (l1)
print (l2)

['We', 'should', 'use', '[:]', 'to', 'copy', 'the', 'whole', 'list']
['We', 'should', 'use', '[:]', 'to', 'copy', 'the', 'whole', 'list', '. Using [:] ensures the two lists are different']

In [41]:
# What happens if we directly assign one list to the other instead of using slices
l1 = ["Jennifer", "now", "wonders", "what", "happens", "if", "we", "directly", "assign."]
l2 = l1
l2.append("Both variables point to the same list")

print (l1)
print (l2)

['Jennifer', 'now', 'wonders', 'what', 'happens', 'if', 'we', 'directly', 'assign.', 'Both variables point to the same list']
['Jennifer', 'now', 'wonders', 'what', 'happens', 'if', 'we', 'directly', 'assign.', 'Both variables point to the same list']